We have a [metrics dashboard][dashboard] intended to
track against some of the [Development Department KPIs][kpis], particularly
those around merge request creation and acceptance. From that dashboard, the
following chart shows [MR Rate].

<%= tag(:embed, src: signed_periscope_url(dashboard: 561630, chart: 7421071, embed: 'v2'), width: '100%', height: '300') %>

The following chart shows the MR Rate of the Dev section as a whole, for the
identification of trends:

<%= tag(:embed, src: signed_periscope_url(dashboard: 561630, chart: 7305986, embed: 'v2'), width: '100%', height: '300') %>

[dashboard]: https://app.periscopedata.com/app/gitlab/561630/Dev-Sub-department-Overview-Dashboard
[kpis]: /handbook/business-ops/data-team/metrics/#development-department-kpis
[MR Rate]: /handbook/engineering/development/performance-indicators/#mr-rate
